<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Underdanger</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
            type="text/javascript"></script>
    <script type="text/javascript" src="/static/game.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&display=swap"
          rel="stylesheet">
    <link href="https://fontlibrary.org//face/mononoki" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/98.css"/>
</head>
<body>
<div id="menu" class="window">
    <div id="menu_center">
        <div class="title-bar">
            <h1 class="title-bar-text" style="text-align: center">Underdanger</h1>
        </div>
        <p>Создайте игрока, создайте комнату или присоединитесь к существующей, играйте!</p>
        <p>
            Управление: стрелочки чтобы ходить, Z и потом стрелочка — атаковать. X — атака вторым
            оружием.
            Инвентарь: левый клик чтобы использовать, правый чтобы выбросить
        </p>
        <div id="lobby_code"></div>
        <div id="current_room_users"></div>
        <div class="window-body">
            <form id="join" action='' class="field-row">
                <div>
                    <div>
                        <input class="sharp" type="text" name="username"
                               id="username"
                               placeholder="Имя игрока"
                               value="Джеймс">
                        <div id="username_form_error"></div>
                    </div>
                </div>
                <div>
                    <div>
                        <select size="1" name="class" id="class" class="sharp">
                        </select>
                    </div>
                </div>
                <div>
                    <div>
                        <input type="text" class="sharp"
                               placeholder="ID комнаты"
                               aria-label="ID комнаты"
                               aria-describedby="button-addon2"
                               name="lobby_id" id="lobby_id">
                        <span>
                            <button class="sharp" type="button"
                                    name="connect_play"
                                    id="connect_room_button">Присоединиться к комнате
                            </button>
                        </span>
                        <div id="lobby_id_form_error"></div>
                    </div>
                </div>
                <button type="submit" id="create_room_button" value="Создать новую комнату">Создать новую комнату
                </button>
            </form>
            <div class="status-bar">
                <p class="status-bar-field" id="menu_status_bar" style="height: 16px;"></p>
            </div>
        </div>
    </div>
</div>
<div id="game_field">
    <div id="topbar">
        <span id="users_title">Игроки:</span>
        <div id="users"></div>
    </div>

    <div style="cursor: default">
        <div id="canvas" style="white-space: pre-wrap"></div>
    </div>
    <div id="sidebar_right" style="margin-left:30px">
        <div id="inventory"></div>
        <div id="equipment"></div>
        <div id="magic_book"></div>
    </div>
    <div id="sidebar_third" style="margin-left:30px">
        <div id="trade_offers"></div>
        <div id="log-outer">
            <h4>Игровой лог</h4>
            <div id="log"></div>
        </div>
    </div>
    <div style="flex-basis: 100%; height: 0"></div>
    <div id="tile_description"></div>
</div>
<div id="game_over" style="display: none">
    <p id="game_over_text"></p>
    <button type="button" name="play_again_button" id="play_again_button">Повторить игру?
    </button>
</div>
<div id="footer">
    <div>
        <p>Игровая студия ”по жрать“: <a href="https://github.com/arovesto">@arovesto</a>, <a
                href="https://github.com/kav1nsky">@kav1nsky</a>. Исходный код на <a
                href="https://github.com/arovesto/underdanger/">github</a></p>
    </div>
</div>
<button id="mute">Звук</button>
</body>
</html>