<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Underdanger</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
            type="text/javascript"></script>
    <script type="text/javascript" src="/static/game.js"> </script>
</head>
<body style="background-color:white;">
    <h1 style="background-color:white;">Underdanger</h1>
    <p style="font-size: smaller;font-style: oblique;">by <a href="https://github.com/arovesto">@arovesto</a> and <a href="https://github.com/kav1nsky">@kav1nsky</a>, исходный код на <a href="https://github.com/arovesto/underdanger/">github</a></p>
    <div id="menu">
            <p>Создайте игрока, создайте комнату или присоединитесь к существующей, играйте!</p>
    <form id="join" action=''>
        <input type="text" name="username" id="username" placeholder="Имя игрока" value="Джеймс">
        <select size="1" name="class" id="class">
            <option value="рыцарь">рыцарь</option>
            <option value="лучник">лучник</option>
            <option value="волшебник">волшебник</option>
        </select>
        <input type="text" name="lobby_id" id="lobby_id" placeholder="ID комнаты">
        <input type="submit" name="connect_play" id="connect_room_button" value="Присоединиться к комнате">
        <input type="submit" id="create_room_button" value="Создать комнату">
    </form>
    </div>
    <div id="game_field" style="display: flex; cursor: default">
        <div id="sidebar_left" style="width:100px">
            <h3 style="color: darkgreen">Игроки:</h3>
            <div id="users"></div>
        </div>

        <div id="plot" style="cursor: default"></div>

        <div id="sidebar_right" style="margin-left:30px">
            <div id="inventory"></div>
            <div id="log" style="width:200px"></div>
        </div>
    </div>
    <div id="tile_description"></div>
</body>
</html>